<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
</head>

<body class="login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">
                                Auth token
                            </h4>
                            <hr>
                            <form class="login-form" novalidate>
                                <div class="form-group email-region">
                                    <label for="email">E-mail</label>
                                    <input placeholder="Email" id="email" type="email" class="form-control" name="email" disabled required autofocus/>
                                </div>

                                <div class="form-group password-region">
                                    <label for="password">Password
                                        <a href="#" 
                                          class="float-right" 
                                          data-toggle="tooltip" 
                                          data-html="true" 
                                          title="Ok, now <b>we</b> have a problem!">
                                          Forgot password?
                                        </a>
                                    </label>
                                    <div style="position:relative" id="eye-password">
                                        <input id="password" placeholder="Password" type="password" class="form-control show" name="password" required data-eye="" disabled />
                                        <div class="btn btn-primary btn-disabled btn-sm btn-outline-primary" id="passeye-toggle">Show</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                        <label for="remember" class="custom-control-label" data-toggle="tooltip" data-html="true" title="Don't trust that i will remember you ðŸ˜">
                                            Remeber me
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group mb-2 mt-2">
                                    <button type="submit" id="get-token" class="btn btn-primary btn-block">
                                        Get token
                                    </button>
                                </div>
                                <div class="mt-2 text-center">
                                    Don't have an account? <a href="#" data-toggle="tooltip" data-html="true" title="<em>Sorry</em> you can't create <b>an account</b> ðŸ˜•">Create One</a>
                                </div>
                            </form>
                             <div class="modal fade" id="modal-token" tabindex="-1" role="dialog" aria-labelledby="modalToken" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLongTitle">
                                              Auth token
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Here is your token</h5>
                                            <textarea>eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiNWMwOTFjYzYyYWNmNmQxZTFjNDM3YzY3IiwiZXhwIjoxNTQ0MTA4NjgxfQ.rTZFhD9SUlTszTfqpNNvSFOZ2B3tRAOVYAEqSvABZCQ</textarea>                                          
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-copy-close btn-primary" data-dismiss="modal">Copy and close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-api list-group list-group-flush">
                          <li class="list-group-item">
                            <hr>
                            <b>Our API</b>
                          </li>
                          <li class="list-group-item">
                            quotes/<input type="text" class="search-term" placeholder="SEARCH_TERM"/>/<input type="text" class="token" placeholder="TOKEN" />
                            
                            <a href="#" data-template="quotes/TERM/TOKEN" target="_blank" class="flex-row ml-auto">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                              </svg>
                            </a>
                          </li>
                          <li class="list-group-item">
                            quotes/<input type="text" class="search-term" placeholder="SEARCH_TERM"/>/<input type="text" class="token" placeholder="TOKEN" />/v
                            
                            <a href="#" data-template="quotes/TERM/TOKEN/v" target="_blank" class="flex-row ml-auto">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
                              </svg>
                            </a>
                          </li>
                        </ul>

                        <div class="card-expander">
                          <div class="btn btn-primary btn-bg btn-sm btn-outline-primary">Endpoints</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </section>
</body>

</html>
