<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login</title>
</head>

<body class="login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">
                                Auth token
                            </h4>
                            <hr>
                            <form class="login-form" novalidate>
                                <div class="form-group email-region">
                                    <label for="email">E-mail</label>
                                    <input placeholder="Email" id="email" type="email" class="form-control" name="email" disabled required autofocus/>
                                </div>

                                <div class="form-group password-region">
                                    <label for="password">Password
                                        <a href="#" 
                                          class="float-right" 
                                          data-toggle="tooltip" 
                                          data-html="true" 
                                          title="Ok, now <b>we</b> have a problem!">
                                          Forgot password?
                                        </a>
                                    </label>
                                    <div style="position:relative" id="eye-password">
                                        <input id="password" placeholder="Password" type="password" class="form-control show" name="password" required data-eye="" disabled />
                                        <div class="btn btn-primary btn-disabled btn-sm btn-outline-primary" id="passeye-toggle">Show</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                                        <label for="remember" class="custom-control-label" data-toggle="tooltip" data-html="true" title="Don't trust that i will remember you ðŸ˜">
                                            Remeber me
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group mb-2 mt-2">
                                    <button type="submit" id="get-token" class="btn btn-primary btn-block">
                                        Get token
                                    </button>
                                </div>
                                <hr>
                                <div class="mt-2 text-center">
                                    Don't have an account? <a href="#" data-toggle="tooltip" data-html="true" title="<em>Sorry</em> you can't create <b>an account</b> ðŸ˜•">Create One</a>
                                </div>
                            </form>

                             <div class="modal fade" id="modal-token" tabindex="-1" role="dialog" aria-labelledby="modalToken" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLongTitle">
                                              Auth token
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Here is your token</h5>
                                            <textarea>eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiNWMwOTFjYzYyYWNmNmQxZTFjNDM3YzY3IiwiZXhwIjoxNTQ0MTA4NjgxfQ.rTZFhD9SUlTszTfqpNNvSFOZ2B3tRAOVYAEqSvABZCQ</textarea>                                          
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Copy and close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </section>
</body>

</html>
