<%= javascript_include_tag "http://www.example.com/xmlhr.js" %>
<section class="quotes-viewer h-100">
  <div class="container h-100">
    <div class="row pt-5 h-100">
      <div id="editor"></div>
    </div>
  </div>
</section>
