// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quotes-viewer {
  #editor {
    width: 100%;
    height: 90%;

    .jsoneditor {
      border: thin solid transparent;
      border-radius: .25rem;

      .jsoneditor-menu {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        table.jsoneditor-search{
          .jsoneditor-frame {
            border-radius: .15rem;
          }
        }
      }
    }

    .jsoneditor-outer {
      & > .jsoneditor-tree {
        border-right: thin solid #3883fa;
        border-left: thin solid #3883fa;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
        border-bottom: thin solid #3883fa;
        height: 99.649%;

        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #ececec8a;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #007bff;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #007bff;
        }
      }
    }
  }
}
